.container {
    display: grid;
    grid-template-rows: 100px 350px 100px;
    grid-template-columns: 3fr, 1fr;
    grid-template-areas:
        'header header'
        'main aside'
        'footer footer';
    width: 100px;
    height: 550px;
    margin: auto;
}

.item-1 {
    grid-area: header;
}

.item-2 {
    grid-area: main;
}

.item-3 {
    grid-area: aside;
}

.item-4 {
    grid-area: footer;
}